<h1>Listing of all Directors </h1>
<%= link_to 'New Director', new_director_path %>
<table>
  <tr>
    <th>Director Name</th>
    <th></th>
  </tr>

  <% @directors.each do |director| %>
    <tr>
      <td><%= director.name %></td>
      <td><%#= link_to 'show', director_path(director) %></td>
      <td><%#= link_to 'Edit', edit_director_path(director) %></td>
      <td><%= link_to 'Delete', director_path(director),
             method: :delete,
              data: { confirm: 'Are you sure' } %></td>

    </tr>
  <% end %>
</table> 